/* Reseteo del diseño página Web */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
}

#navbar-mobile{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /*align-items: center;
    padding: 0px 2px 0px 10px;*/
    background-color: #18181B;
}

#navbar-mobile section{
    background-color: burlywood;
    display: flex;
}

#navbar-mobile #lupita{
    width: 18px;
}

#icon-more-options{
    width: 30px;
    cursor: pointer;
}

#navbar-mobile div:nth-child(2){
    fill: #EFEFF1;
}

#navbar-mobile div:nth-child(2):hover{
    fill: #BF94FF;
    cursor: pointer;
}

/*#navbar-mobile section:nth-child(1){
    gap: 30px;
}*/

/*#navbar-mobile section div{
    background-color: grey;
}*/

#navbar-mobile section:nth-child(1){
    width: auto;
}

#navbar-mobile section:nth-child(2){
    width: auto;
}

#navbar-mobile section:nth-child(3){
    width: auto;
    align-items: center;
}

#navbar-mobile section:nth-child(3) #div-lupita{
    background-color: peru;
    padding: 0px 5px;
    width: 35px;
    display: flex;
    justify-content: center;
}

#navbar-mobile section:nth-child(3) #div-derecho{
    background-color: salmon;
    margin-right: 10px;
    height: 100%;display: flex;
    padding: 10px 0px;
    justify-content: center;
}

#navbar-mobile section:nth-child(3) #div-derecho #cajita-boton{
    width: 112.84px;
    height: 30px;
    background-color: #A4A4AE;
    padding: 0px 5px;
}

#navbar-mobile section:nth-child(3) #div-derecho #cajita-boton #button-sign-in .separacion-lados{
    padding: 0px 10px;
    height: 19.5px;
    width: 102.84px;
}

#navbar-mobile section:nth-child(3) #div-derecho #cajita-boton #button-sign-in .separacion-lados div{
    width: 82.84px;
    height: 19.5px;
}

#navbar-mobile section:nth-child(3) #div-derecho #cajita-boton2{
    width: 112.16px;
    height: 30px;
    background-color: #A4A4AE;
    padding: 0px 5px;
}

#navbar-mobile section:nth-child(3) #div-derecho #cajita-boton #button-register{
    padding: 0px 10px;
    height: 19.5px;
    width: 102.84px;
}

#navbar-mobile section:nth-child(3) #div-derecho #cajita-boton #button-register div{
    width: 82.84px;
    height: 19.5px;
}


#navbar-mobile section:nth-child(3) img{
    background-color: dodgerblue;
}

#navbar-mobile section div #p-explorar{
    color: #EFEFF1;
    font-size: 14px;
    font-family: "Roobert","Inter","Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
}

#navbar-mobile section div #p-explorar:hover{
    color: #BF94FF;
}


#input-navbar{
    max-width: 300px;
}

#navbar-mobile section #div-logo{
    width: 50px;
    padding: 5px;
    background-color: chocolate;
}

#navbar-mobile #div-explorer{
    background-color: darkslategray;
    width: 60px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#navbar-mobile #div-3-puntos{
    background-color: darkgrey;
    width: 50px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#navbar-mobile #div-3-puntos img{
    background-color: goldenrod;
}

#logo{
    width: 40px;
    cursor: pointer;
}

.icons{
    width: 20px;
    cursor: pointer;
}

/*nav{
    width: 100%;
    height: 50px;
    background-color: #18181B;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}*/

nav li{
    cursor: pointer;
}

.buttom-navbar{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 800;
}

#button-sign-in{
    color: white;
    background-color: #35353B;
    width: 102.84px;
    height: 30px;
}

#button-register{
    color: white;
    background-color: #772CE8;
    width: 92.17px;
    height: 30px;
}

#icon-user{
    width: 30px;
    cursor: pointer;
}

main{
    padding: 55px 5px 0 55px;
    min-height: 100vh;
    width: 100%;
    background-color: #0E0E10;
    position: relative;
    height: auto;
    z-index: 0;
}


#menu-desktop{
    display: none;
}

#menu-desktop section:nth-child(1){
    align-items: center;
}

#menu-desktop section:nth-child(1) h3{
    color: white;
    font-size: 13px;
    font-weight: 500;
}

#menu-desktop section{
    margin-bottom: 10px;
}

#menu-desktop #icon-flecha{
    width: 15px;
    cursor: pointer;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 53px;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: #1F1F23;
    padding: 10px 10px;
    align-items: center;
    z-index: 5;
}

aside section{
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 14px;
    gap: 5px;
    justify-content: space-between;
}

.info-user{
    display: flex;
    gap: 10px;
}

.bola-roja{
    background-color: #eb0400;
    width: 8px;
    height: 8px;
    border-radius: 50px;
}

.conectados{
    color: white;
    width: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.color-white{
    color: #DEDEE3;
    font-size: 14px;
    font-weight: bold;
}

.color-gris-claro{
    color: #adadb8;
    font-size: 13px;
}

#left-aside{
    display: none;
}

#left-aside li:first-child:hover{
    cursor: default;
}

#left-aside ul li{
    margin: 5px 0px;
}

#left-aside ul li:nth-child(1){
    transform: translate(20%, 0%);
    margin-bottom: 8px;
}

#first-child{
    cursor: default;
}

aside #icon-video-camera{
    width: 18px;
}

.user-profile{
    border-radius: 50px;
    width: 30px;
    cursor: pointer;
}

#publicidad{
    width: 100%;
    height: 65px;
    background-color: #451093;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    padding: 0 18px;
    gap: 10px;
    z-index: 6;
}

#publicidad div:nth-child(1) p{
    color: white;
    font-size: 18px;
}

#publicidad div:nth-child(1) p:nth-child(2){
    font-weight: bold;
}



#publicidad div:nth-child(1) img{
    width: 45px;
}

#publicidad button{
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

#publicidad div{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#publicidad div:nth-child(1){
    width: 82%;
}

#publicidad div:nth-child(2){
    width: 18%;
    justify-content: flex-end;
}

#coronita{
    width: 30px;
}

main .en-directo{
    height: auto;
    position: relative;
    /*margin-top: 22px;*/
    width: 100%;
    /*background-color: burlywood;*/
    min-height: 320px;
    margin-bottom: 50px;
}

main .en-directo .caja-en-directo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
    height: 300px;
    cursor: pointer;
}

main .en-directo .caja-en-directo-1{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 728px;
    min-width: 420px;
    width: auto;
    height: 300px;
    cursor: pointer;
}

main .en-directo #directo-1-ancho{
    /*background-color: green;*/
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
}

main .en-directo #directo-1-ancho #imagen-en-directo{
    /*background-color: darkslategray;*/
    /*width: 70%;*/
    width: 100%;
}

main .en-directo .imagen img{
    height: 100%;
}

main .en-directo #directo-1-ancho #info-en-directo{
    background-color: #18181B;
    width: 30%;
    padding: 10px;
}

main .en-directo #directo-1-ancho #info-en-directo #info-1{
    /*background-color:  #9B9BA5;*/
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

main .en-directo #directo-1-ancho #info-en-directo #info-1 div:nth-child(1){
    width: auto;
    /*background-color: aquamarine;*/
    display: flex;
    padding-bottom: 10px;
}

main .en-directo #directo-1-ancho #info-en-directo #info-1 div:nth-child(1) img{
    width: 50px;
    /*background-color: darkgoldenrod;*/
}

main .en-directo #directo-1-ancho #info-en-directo #info-1 div:nth-child(2){
    height: auto;
    width: 100%;
    background-color: #181818;
    padding-left: 10px;
}

main #info-en-directo #info-1 #user-categ-num p:nth-child(1){
    font-size: 13px;
    color: #BF94FF;
    font-weight: bold;
}

main #info-en-directo #info-1 #user-categ-num .cambio-texto:hover{
    text-decoration: underline;
    color: #A970FF;
}

main #info-en-directo #info-1 #user-categ-num p:nth-child(2){
    font-size: 13px;
    color: #BF94FF;
}

main #info-en-directo #info-1 #user-categ-num p:nth-child(3){
    font-size: 13px;
    color: #EFEFF1;
}

main .en-directo #directo-1-ancho #info-en-directo  #info-adicional{
    height: 40px;
    /*background-color: floralwhite;*/
}

main .en-directo #directo-2{
    display: none;
    /*background-color: yellow;*/
    transform-origin: 50% 50%;
    transform: translate(-30%, -50%) scale(0.85);
    transition: all 0.2s ease-out;
    z-index: 4;
}

main .en-directo #directo-2:hover{
    transform: translate(-30%, -50%) scale(0.86);
}

main .en-directo #directo-3{
    display: none;
    /*background-color: purple;*/
    transform-origin: 50% 50%;
    transform: translate(-13%, -50%) scale(0.75);
    transition: all 0.2s ease-out;
    z-index: 3;
}

main .en-directo #directo-3:hover{
    transform: translate(-13%, -50%) scale(0.76);
}

main .en-directo div:nth-child(4){
    display: none;
    /*background-color: orange;*/
    transform-origin: 50% 50%;
    transform: translate(-70%, -50%) scale(0.85);
    z-index: 4;
    transition: all 0.2s ease-out;
}

main .en-directo div:nth-child(4):hover{
    transform: translate(-70%, -50%) scale(0.86);
}

main .en-directo div:nth-child(5){
    display: none;
    transform-origin: 50% 50%;
    transform: translate(-87%, -50%) scale(0.75);
    /*background-color: aquamarine;*/
    transition: all 0.2s ease-out;
    z-index: 3;
}

main .en-directo div:nth-child(5):hover{
    transform: translate(-87%, -50%) scale(0.76);
}


main div img{
    width: 100%;
}

main .sections-videos{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    /*background-color: rgb(194, 91, 91);*/
    padding: 10px 20px 20px 20px;
    position: relative;
}

main #sections-videos div .videos{
    position: absolute;
}

.sections-videos #directo-3{
    display: none;
}

.sections-videos div:nth-child(4){
    display: none;
}

.sections-videos div:nth-child(5){
    display: none;
}

main .sections-videos div{
    max-width: 380px; 
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /*background-color: darkolivegreen;*/
}

main .sections-videos .identificador{
    display: flex;
    flex-direction: row;
}

main .linea-mas-info{
    /*background-color: cadetblue;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    height: 30px;
}

main  .linea-mas-info article{
    background-color: #0E0E10;
    display: flex;
}

main .linea-mas-info .rayita{
    flex-direction: column;
    justify-content: center;
    color: #0E0E10;
    width: 100%;
}

main .linea-mas-info .rayita hr{
    height: 0.1px;
}

main .linea-mas-info .contenido-mas-info{
    color: #BF94FF;
    /*background-color: #2F2F35;*/
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 0px 0px 12px;
    border-radius: 5px;
    width: 350px;
    gap: 10px;
    fill:  #BF94FF;;
}

main .linea-mas-info .contenido-mas-info:hover{
    cursor: pointer;
    color: #D0D0D1;
    background-color: #2F2F35;
    fill: #D0D0D1;
}


/*main .linea-mas-info article:nth-child(3){
    width: 35%;
}*/

#seccion-live{
    background-color: #0E0E10;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 38px 30px 0 78px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    /*position: relative;
    z-index: 2;*/
}

#seccion-live h2{
    color: #BF94FF;
    font-size: 18px;
}

#seccion-live h2:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #A970FF;
}

.img-articles{
    width: 100%;
    height: 220px;
}

.user-profile-articles{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.ancle-articles{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#first-ancle-section::after{
    content: "👑";
}

#first-ancle-section::before{
    content: "👑";
}

#lista{
    display: flex;
    flex-direction: column;
}

#lista li:nth-child(1){
    padding-bottom: 6px;
}

#lista li{
    /*background-color: #451093;*/
    padding-bottom: 2px;
}


.ancle-articles:hover{
    color: #9147FF;
}

.user-name{
    color: #A4A4AE;
    font-size: 13px;
}

.category{
    color: #A4A4AE;
    font-size: 13px;
}

.category:hover{
    color: #A970FF;
}

.verifed-icon{
    width: 15px;
}

.button-label{
    background-color: #2F2F35;
    border-radius: 30px;
    border: none;
    padding: 2px 10px 2px 10px;
    color: #adadb8;
    font-size: 13px;
}

/*.box-description{
    display: flex;
    gap: 10px;
    padding-top: 4px;
}


.box-description ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}*/

main .categoria-1{
    /*background-color: grey;*/
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
    gap: 10px;
    /*background-color: rgb(194, 91, 91);*/
    padding: 20px 20px 10px 20px;
}

main .categoria-1 div{
    width: 100%; 
    height: 50px;
    background-color: #5C16C5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

main .categoria-1 div:hover{
    background-color: #583394;
}

main .categoria-1 div .nieto-categ-1{
    padding-left: 15px;
}

main .categoria-1 div .nieto-categ-1 p{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

main .categoria-1 div:nth-child(1) img{
    width: auto;
    position: relative;
    margin-right: 10px;
    /*background-color: #35353B;*/
}

main .subtitulo-secciones{
    display: flex;
    gap: 5px;
    padding: 0px 20px;
    font-weight: bold;
    font-size: 18px;
}

main .subtitulo-secciones p{
    color: white;
}

main .subtitulo-secciones span{
    color: #BF94FF;
    cursor: pointer;
}

main .subtitulo-secciones span:hover{
    color: #A970FF;
    text-decoration: underline;
}


main .categoria-2{
    /*background-color: coral;*/
    display: grid;
    width: 100%;
    height: auto;
    min-height: 50vh;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    /*background-color: rgb(194, 91, 91);*/
    padding: 10px 20px;
}

main .categoria-2 div{
    width: 100%; 
    height: 200px;
    /*background-color: orange;*/
}

main .info-categorias{
    /*background-color: darkolivegreen;*/
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    gap: 4px;
    height: auto;
}


main .info-categorias p{
    color: #adadb8;
    font-size: 13px;
    font-weight: bold;
}

main .info-categorias div{
    /*background-color: #583394;*/
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

main .info-categorias .boton-estilo{
    display: flex;
    width: auto;
    background-color: #2F2F35;
    border-radius: 20px;
    justify-content: center;
    padding: 4px 10px;
}

main  .info-categorias .boton-estilo span{
    font-size: 12px;
    color: #adadb8;
}

.hide{
    display: none;
}



/*@media only screen and (min-width: 960px){
    .sections-videos:nth-child(1) #directo-2{
    display: block;
    }
    
    .sections-videos:nth-child(1) #directo-3{
    display: block;
    }
    
    .sections-videos:nth-child(1) div:nth-child(4){
    display: block;
    }
    
    .sections-videos:nth-child(1) div:nth-child(5){
    display: block;
    }
}*/

@media only screen and (min-width: 960px){
    main .en-directo #directo-2{
    display: flex;
    }
    
    main .en-directo #directo-3{
    display: flex;
    }
    
    main .en-directo div:nth-child(4){
    display: flex;
    }
    
    main .en-directo div:nth-child(5){
    display: flex;
    }
}

@media only screen and (min-width: 1200px){
    aside{
    width: 240px;
    }
    main{
    padding: 55px 5px 0 245px;
    }
    #menu-desktop{
        display: block;
    }
}

/*@media only screen and (max-width: 1200px){
    aside #lef-aside{
    display: none
    }
}*/

@media only screen and (min-width: 1000px){
    .sections-videos #directo-3{
        display: block;
    }
    main section div:nth-child(5){
        display: block;
    }
    main section div:nth-child(6){
        display: block;
    }
}

@media only screen and (min-width: 1490px){
    .sections-videos div:nth-child(4){
        display: block;
    }
    main section div:nth-child(7){
        display: block;
    }   
    main section div:nth-child(8){
        display: block;
    }     
}

@media only screen and (min-width: 580px){
    main section div:nth-child(4){
        display: block;
    }
}

@media only screen and (min-width: 1150px){
    #publicidad div:nth-child(1) #mostrar-parrafo-abajo{
        display: block;
    }
}

@media only screen and (max-width: 1200px){
    #left-aside{
        display: block;
    }
}

@media only screen and (min-width: 768px){
    #navbar-mobile section:nth-child(2) input{
        display: block;
    }
    #p-explorar{
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
}

@media only screen and (min-width: 768px){
    #navbar-mobile div:nth-child(2) svg{
        display: none;
    }
}


@media only screen and (min-width: 816px){
    main .en-directo #directo-1-ancho #info-en-directo{
        display: block;
    }
    main .en-directo #directo-1-ancho{
        width: 725px;
    }
    main .en-directo #directo-1-ancho #imagen-en-directo{
        width: 70%;
    }

}