/* Reseteo del diseño página Web */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



#logo{
    width: 35px;
    cursor: pointer;
}

.icons{
    width: 20px;
}

nav{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav #navbar{
    width: 100%;
    height: 50px;
    background-color: #18181B;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
    align-items: center;
}

nav li{
    cursor: pointer;
}

#button-sign-in{
    color: white;
    background-color: #35353B;
    cursor: pointer;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 800;
}

#button-register{
    color: white;
    background-color: #772CE8;
    cursor: pointer;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 800;
}

#icon-user{
    width: 40px;
}

main{
    padding: 70px 0 0 51px;
    height: 40vh;
    width: 100%;
    background-color: #0E0E10;
    position: relative;
}


nav #left-aside{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 50px;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: #1F1F23;
    padding: 10px 10px;
    align-items: center;
    list-style: none;
    z-index: 5;
}

#left-aside li:first-child:hover{
    cursor: default;
}

#first-child{
    cursor: default;
}

nav aside #icon-video-camera{
    width: 18px;
}

.user-profile{
    border-radius: 50px;
    width: 30px;
}

#publicidad{
    width: 100%;
    height: 65px;
    background-color: #451093;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    padding: 0 25px;
    gap: 10px;
    z-index: 6;
}

#publicidad p{
    color: white;
    font-size: 18px;
}

#publicidad img{
    width: 45px;
}

#publicidad button{
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-weight: 700;
}

main div{
    display: flex;
    top: 0;
    left: 0;
    position: relative;
    /*margin-top: 22px;*/
    width: 100%;
}

main div img{
    width: 100%;
}


#seccion-live{
    background-color: #0E0E10;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 38px 30px 0 78px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    /*position: relative;
    z-index: 2;*/
}

#seccion-live h2{
    color: #BF94FF;
    font-size: 18px;
}

#seccion-live h2:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #A970FF;
}

.img-articles{
    width: 100%;
}

.user-profile-articles{
    width: 50px;
    border-radius: 50px;
}

a{
    text-decoration: none;
}

.ancle-articles{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#first-ancle-section::after{
    content: "💓";
  }

.ancle-articles:hover{
    color: #9147FF;
}